<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
  </head>
  <body>
    <h1>Bye {{nom | upper}}!</h1>

    <p>
      Bye Bye World !!
    </p>
  </body>
</html>
