<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
  </head>
  <body>
    <h1>Lien {{nom | upper}}!</h1>

    <a href="{{path('oc_platform_view', {'id': advert}) }}">
      Lien vers annonce numéro {{advert}}
    </a>
  </body>
</html>
